.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 4rem;
  background-color: #FFA8FB;
}

.content img {
  max-width: 100%;
  display: block;
  font-size: 3rem;
}

.content > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30rem;
}