.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CC49C5;
  margin: 0rem;
  font-size: 4rem;
}

.header a {
  padding-right: 4rem;
}

.header img {
  width: 20%;
}
