section h2{
  font-size: 5rem;
}

section p{
  color: #e979d6;
  font-size: 3rem;
}

section img{
  width: 18%;
}

section figcaption{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;

  color: #dd31c0;
}

.internal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CC49C5;
  margin-top: 9.8rem;
}

.internal nav a img{
  width: 15%;
}