.media{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CC49C5;
  margin-top: 30.8rem;
}

.media nav a img {
  width: 22rem;
}

.media nav a:hover{
  background-color: #f09fec;
}

#titleMedia{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
}