.media{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C0C0C0	;
  margin-top: 30.5rem;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.media nav a img {
  max-width: 10rem;
  max-height: auto;
}

.media nav a:hover{
  background-color: #f09fec;
}

#titleMedia{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}