@import url("./header.css");
@import url("./content.css");
@import url("./media.css");
@import url("./internal.css");

html{
    font-size: 62.7%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #800379;
    overflow: hidden;
}

a{
    text-decoration: none;
}
