@import url("./header.css");
@import url("./content.css");
@import url("./media.css");
@import url("./internal.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.7%;
}

body{
    background-color: #D3D3D3	;
    background-color: #800379;
}

a{
    text-decoration: none;
}